<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1  th:text="${title}" > </h1>
    <ul>
        <li  th:text="${user.name}" ></li>
        <li  th:text="${user.lastName}" ></li>
        <li th:if="${user.email}" th:text="${user.email}" ></li>
        <li th:if="${ user.email == null }" th:text="${'No tiene email'}" ></li>

    </ul>

    <a th:href="@{/list}">ver lista</a>
    <br>
    <a th:href="@{'/api/params/foo?message=' + ${title}}">ver mensaje</a>
    <br>
    <a th:href="@{/api/params/foo?message=HOLA QUE TAL}">ver mensaje3</a>
    <br>
    <a th:href="@{/api/params/foo(message='HOLA')}">ver mensaje4</a>
    <br>
    <a th:href="@{/api/params/bar(text='HOLA',code=12341)}">ver bar mix</a><br>
    <a th:href="@{/api/var/baz/ALGUN TEMA}">ver var path variable</a>

</body>
</html>